* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.menubar {
  width: 100%;
  height: 10%;
  background-color: aquamarine;
  position: sticky;
}

.top-nav {
  display: none;
}

.navbar1 h1 {
  font-weight: 700;
  justify-content: left;
  font-size: 18px;
  line-height: 40px;
  color: orangered;
  animation-duration: 10s;
  animation-name: rotate;
  animation-iteration-count: 3;
  animation-direction: alternate;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(45deg);
  }
}

.navbar {
  display: block;
  cursor: pointer;
}

.navbar1 {
  display: none;
}

.menuclick {
  display: none;
  height: 780px;
  background-color: orange;
  overflow: scroll;
}

.menu_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30%;
  margin-bottom: 15%;
}

.exit {
  position: absolute;
  bottom: 1%;
  right: 7%;
  top: 10%;
  color: black;
  font-size: 40px;
  cursor: pointer;
}

.exit button {
  cursor: pointer;
}

.menu_details a {
  text-decoration: none;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  font-style: normal;
  color: #fff;
  row-gap: 20px;
  cursor: pointer;
}

.menu_details a:hover {
  color: blue;
}

:root {
  /* COLOR */
  --COLOR1: #272a31;
  --COLOR2: #ec5242;
  --COLOR3: #d3d3d3;
}

.main_pg {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  background-image: url(images/home_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 5.7rem 18px 2.2rem;
}

.hero-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: whitesmoke;
  background-image: url('images/about-bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 2.5rem;
  padding: 4rem 1.5rem 1.5rem;
}

.hero_box {
  margin-left: 20px;
  margin-top: 50px;
}

.hero_heading {
  color: var(--COLOR2);
  margin-bottom: 5px;
}

.hero_headingA {
  color: var(--COLOR2);
  margin-bottom: 5px;
  text-align: center;
}

.twitter {
  color: #d3d3d3;
}

.hero_title {
  font-family: var(--FF);
  color: transparent;
  background-image: url('images/header\ background.jpeg');
  background-repeat: no-repeat;
background-size: 100%;
padding: 5.7rem 18px 2.2rem;
}

.hero_titleA {
  font-family: var(--FF);
  color: var(--COLOR2);
  text-align: center;
  font-size: 2rem;
}

.about {
  width: 420px;
}

.hero_description {
  margin: 70px 20px 20px 20px;
  border: 1px solid white;
  padding: 15px;
  background-color: rgba(202, 199, 199, 0.1);
}

.hero_descriptionA {
  margin: 70px 20px 20px 20px;
  border: 1px solid white;
  padding: 15px;
  background-color: white;
  text-align: center;
  font-family: var(--FF);
}

.des1 {
  font-family: var(--FF);
}

.des2 {
  margin-left: 20px;
  margin-bottom: 9px;
  color: #5b5b5b;
  font-weight: 900;
  line-height: 2.2rem;
}

.des3 {
  margin-left: 20px;
  font-weight: 400;
  color: #5b5b5b;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: none;
  }

  .navbar1 {
    justify-content: space-around;
    display: flex;
  }

  .navbar1 a {
    text-decoration: none;
    font-weight: 200;
    font-size: 24px;
    line-height: 28px;
    font-style: normal;
    color: #fff;
    row-gap: 20px;
    cursor: pointer;
  }

  .top-nav {
    display: block;
    justify-content: right;
    width: 100%;
    align-items: center;
    height: 10%;
    background-color: black;
  }

  .top-nav a {
    text-decoration: none;
    justify-content: right;
    font-weight: 100;
    line-height: 24px;
    font-style: normal;
    row-gap: 40px;
    cursor: pointer;
      font-size: 0.8rem;
      line-height: 1.6rem;
      color: #d3d3d3;
  }

  .fa-brands {
    color: #d3d3d3;
  }
}
